
/* FONTS FOR HEADINGS AND TEXT */

/* HEADINGS: */
    /* font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 300; */

/* TEXT */
    /* font-family: 'proxima-nova', sans-serif; 
    font-style: normal;
    font-weight: 100; */


